a {
  white-space: nowrap;
  color: white !important;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-expand-lg .navbar-nav {
  font-size: medium;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar{
  align-items: flex-end;
  display: flex !important ;
}


nav {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(8, 69, 129, 1) 71%,
    rgba(9, 56, 121, 1) 100%,
    rgba(0, 35, 36, 1) 100%
  );
}

@media (min-width: 500px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
}

@media (min-width: 0px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
  }
}
